.header {
  background-image: url("../img/header_bg/header_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 590px;
  margin-bottom: 60px;
}

.header__top {
  z-index: 1;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
}

.header__logo {
  background-image: url("../img/Graff pink.png");
  width: 130px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 17px;
  margin-left: 35px;
  display: block;
}

.menu {
  padding-right: 47px;
  position: relative;
}

.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.menu__link {
  opacity: 0.75;
  color: #454545;
}

:hover {
  opacity: 1;
}

.menu__item, .menu__item--login {
  list-style: none;
  display: flex;
  font-size: 17px;
  font-weight: 400;
  font-family: SegoeUIRegular, sans-serif;
}

.menu__item a {
  text-decoration: none;
}

.menu__item {
  margin-right: 40px;
}

.menu__icon {
  display: none;
}

.login {
  width: 87px;
  height: 27px;
  background-color: #de6d6e;
  border-radius: 3px;
  border: 1px solid #de6d6e;
  color: white;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.login__icon {
  width: 13px;
  height: 14px;
}

.header__header {
  margin-top: 320px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
  color: white;
  font-family: AlteHaasGroteskBold, sans-serif;
  font-size: 69px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__content {
  text-align: center;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
  color: white;
  font-family: UniversLT, sans-serif;
  font-size: 25px;
  font-weight: 300;
}


