.header {
  background-image: url("../img/header_bg.jpg");
  @media screen and (max-width: 320px) {
    background-image: url("../img/header_bg_320.jpg");
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    background-image: url("../img/header_bg_480.jpg");
  }
  @media screen and (min-width: 481px) and(max-width: 768px) {
    background-image: url("../img/header_bg_768.jpg");
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    background-image: url("../img/header_bg_992.jpg");
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    background-image: url("../img/header_bg_1200.jpg");
  }
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 590px;
}

.header__top {
  z-index: 1;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
}
