.servises {
  margin-bottom: 50px;
}

.services__header {
  color: #404040;
  font-family: UniversLT, sans-serif;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 16px;
}

.services__text {
  color: #636363;
  font-family: UniversLT, sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 85px;
}

.services__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servises__item {
  width: 179px;
  height: 179px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.servises__item:nth-child(1) {;
  background-color: #4eb9f4;
}

.servises__item:nth-child(2) {
  background-color: #e48f23;
}

.servises__item:nth-child(3) {
  background-color: #ff5649;
}

.servises__item:nth-child(4) {
  background-color: #6fc125;
}

.servises__item--tickets,
.servises__item--camera,
.servises__item--beer,
.servises__item--device {
  fill: white;
}

.servises__item--tickets {
  width: 82px;
  height: 82px;
}

.servises__item--camera {
  width: 80px;
  height: 70px;
}

.servises__item--beer {
  width: 68px;
  height: 85px;
}

.servises__item--device {
  width: 76px;
  height: 76px;
}

.servises__item p {
  color: white;
  font-family: UniversLT, sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 28px;
}

.servises__item-hidden {
  display: none;
}

.servises__item:hover {

}

.servises__item:hover .servises__item-hidden {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.servises__item:hover .servises__item-hidden p {
  padding-right: 12px;
  padding-left: 12px;
}


